<header class="viewport-header">
    <div class="container" id="home-container">
      <div class="jumbotron text-center <text-white></text-white>">
        <h1 class="display-4">Lynx of the Mana</h1>
        <p>Welcome to the best website of the decade, no-one has able to produce this high level of coding on any website that exists in this current era.</p>
        <hr class="my-4">
        <p>Here you can create your own article by clicking the button below</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
    </header>
